
@{
    ViewBag.Title = "Chosse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chọn phương thức cần xử lý</h2>
<a href="/NhanViens/Index">Nhân viên</a> <br />
<a href="/TinhThanhs/Index">Tỉnh thành</a>

